.page_subtitle{
    line-height: 25px;
}

.streaming_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 32px;
}

.streaming_logo{
    width: 300px;
    height: auto;
    border-radius: 4px;    
}

.streaming_logo:hover{
    scale: 105%;
}